:root {
    --menu-width: 200px;
}

body,
div {
    margin: 0;
    padding: 0;
}

menu {
    width: var(--menu-width);
    height: 10%;
    display: flex;
    position: relative;
}

menu a {
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px;
    display: inline-block;
}

main {
    display: flex;
    flex-direction: row;
}

navbar {
    padding: 12px;
}

section {
    padding: 6px;
}

th,
td {
    padding: 6px;
}

th {
    padding: 12px;
}

select[name="task"] {
    width: 200px;
}

select[name="stage"] {
    width: 68px;
    height: 20px;
    appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

input[name="hours"] {
    width: 44px;
    height: 14px;
    margin-top: 1px;
}

#projects {
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    position: absolute;
    left: calc(var(--menu-width) + 20px);
    overflow-x: auto;
}

#quick-menu {
    display: flex;
    /* justify-content: center; */
}

#quick-menu div div {
    padding: 2px;
}

#upper-section,
#lower-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#upper-section .left-section {
    margin-right: 8px;
}

#task-stats-table {
    width: auto;
    height: min-content;
    margin-right: 8px;
}

#task-stats-table tr {
    border: none;
    position: relative;
}

#task-stats-table td {
    text-align: center;
    position: relative;
}

#task-stats-table input {
    border-radius: 6px;
    border: unset;
}

#task-stats-table .task-name {
    width: 340px;
}

#week-table {
    height: min-content;
}

#week-table th:not(:first-child) {
    max-width: 80px;
    width: 80px;
    height: 16px;
}

#week-table .cell {
    margin-top: 6px;
    text-align: center;
}

#week-table .task-name {
    width: 200px;
    font-size: small;
    text-align: start;
}

#week-table .delete-button {
    text-align: center;
    font-size: x-small;
    font-weight: 600;
    padding: 1px 4px;
}

#stage-logging {
    padding: 20px;
    width: 500px;
    height: 800px;
    text-align: start;
    overflow-y: auto;
}

#stage-logging .copy-button-container {
    width: 100%;
    margin-bottom: 10px;
    height: 20px;
    text-align: center;
}

#stage-logging .project-checkbox-container {
    margin-left: 2px;
    border-radius: 6px;
    padding: 0;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 2px;
}

#stage-logging :first-child button {
    width: 60px;
}

#stage-logging .row {
    padding-bottom: 8px;
}

#stage-logging button {
    width: 50%;
    margin-bottom: 20px;
}

#stage-logging span {
    padding-right: 12px;
    display: inline-block;
}

#stage-logging .stage-logging-data span:last-child {
    padding-right: unset;
    text-align: end;
}

#stage-logging .project-name {
    text-align: center;
    padding-right: 0;
    padding: 2px;
    border-radius: 6px;

    margin-right: 6px;
}

#stage-logging .task-name {
    width: 300px;
    font-size: smaller;
}

#stage-logging .stage-date {
    margin-bottom: 8px;
    font-weight: 600;
}

#stage-logging .stage-week {
    text-align: center;
}

#stage-history {
    table-layout: fixed;
    width: 40%;
    font-size: larger;
    height: min-content;
    padding: 2px;
}

#stage-history .stage-column {
    width: 56px;
}

#stage-history .times {
    display: flex;
    background-color: unset;
    overflow-x: auto;
}

#stage-history .times .tooltip {
    margin-right: 13px;
}

#stage-history select {
    width: 100%;
}

.hide-upper-section {
    margin-top: 12px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
}

/* Utility Classes */
.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.text-align-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.create-button {
    left: 40%;
    position: relative;
}

/* Tooltip */
.tooltip {
    max-height: 40px;
    cursor: default;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
}

.tooltip-top {
    margin-left: -60px;
    margin-top: -28px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1000px) {
    /* Add responsive styles here if needed */
}
