:root {
    --menu-width: 200px;
    --even-background: #d7d7d7;
}

body {
    background-color: grey;
}

div {
    background-color: #fff;
}

menu {
    width: var(--menu-width);
    height: 10%;
    display: flex;
    position: relative;
}

menu a {
    text-decoration: none;
    background-color: #8200fc;
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px;
    color: #fff;

    display: inline-block;
}

menu a:hover {
    background-color: #8200aa;
}

main {
    display: flex;
    flex-direction: row;
}

navbar {
    padding: 12px;
}

section {
    padding: 6px;
}

thead {
    background-color: lightgray;
}

th {
    padding: 12px;

    background-color: lightgray;
}

td {
    padding: 6px;
}

select[name="task"] {
    width: 100px;
}

select[name="stage"] {
    width: 68px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

input[name="hours"] {
    width: 44px;
    height: 14px;
    margin-top: 1px;
}

#projects {
    max-width: 60vw;
    /* max-width: 12vw; */
    display: flex;
    flex-direction: row;

    margin-bottom: 12px;

    position: absolute;
    left: calc(var(--menu-width) + 20px);

    overflow-x: auto;
}

#projects a {
    background-color: #3c4daf;
}

#projects a:hover {
    background-color: #460088;
}

#quick-menu {
    display: flex;
    justify-content: center;
}

#quick-menu > div {
    border: 1px solid #000000;
}

#quick-menu div div {
    padding: 2px;
}

#upper-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    /* overflow-y: auto;
    max-height: 50%; */
}

#lower-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#task-stats-table {
    width: auto;
    height: min-content;
}

#task-stats-table tr {
    border: none;
    position: relative;
}

#task-stats-table tr:nth-child(odd) {
    background-color: var(--even-background);
}

#task-stats-table td {
    border: #000 1px solid;

    text-align: center;
    position: relative;
}

#task-stats-table .task-name {
    width: 340px;
}

#week-table {
    height: min-content;
}

#week-table th:not(:first-child) {
    max-width: 80px;
    width: 80px;
    height: 16px;
}

#week-table .cell {
    margin-top: 6px;
    text-align: center;
}

#week-table .task-name {
    text-wrap: pretty;
    text-wrap-mode: wrap;

    width: 200px;
    font-size: small;
}

#week-table .delete-button {
    border: 1px solid #000;
    border-radius: 8cm;
    text-align: center;
    font-size: x-small;
    font-weight: 600;
    padding: 1px 4px;
}

#stage-logging {
    padding: 20px;

    width: 500px;
    height: 800px;

    text-align: start;

    overflow-y: auto;
}

#stage-logging .copy-button-container {
    width: 100%;
    margin-bottom: 10px;
    height: 20px;
    text-align: center;
}

#stage-logging :first-child button {
    width: 60px;
}

#stage-logging .row {
    padding-bottom: 12px;
}

#stage-logging button {
    width: 50%;
    margin-bottom: 20px;
}

#stage-logging span {
    padding-right: 12px;
    display: inline-block;
}

#stage-logging span:last-child {
    padding-right: unset;
    text-align: end;
}

#stage-logging .task-name {
    width: 300px;

    font-size: smaller;

    text-wrap: pretty;
}

#stage-logging .stage-date {
    margin-bottom: 8px;
    border-top: 1px dotted #000;
    font-weight: 600;
}

#stage-logging .stage-week {
    text-align: center;
}

#stage-history {
    table-layout: fixed;
    width: 40%;

    font-size: larger;
    height: min-content;
    padding: 2px;
}

/* #stage-history .hours-column {
    max-width: 90%;
} */

#stage-history .stage-column {
    width: 56px;
}

#stage-history tbody tr td {
    border-top: 1px solid #000;
}

/* #stage-history tr:nth-child(odd) {
    background-color: var(--even-background);
} */

#stage-history .times {
    display: flex;
    background-color: unset;
    overflow-x: auto;
}

#stage-history .times .tooltip {
    margin-right: 13px;
}

#stage-history select {
    width: 100%;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.text-align-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.table-border {
    border: 2px solid #000;
    border-radius: 12px;
}

.create-button {
    left: 40%;
    position: relative;
}

.button-visible-toggle {
    background-color: #98eb7f;
}

.button-visible-toggle.hidden-state {
    background-color: #8082f8;
    /* color: #ffffff; */
}

/** Tooltip */
.tooltip {
    max-height: 40px;
    cursor: default;
}

.tooltip div {
    background-color: unset;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 999;
}

.tooltip-top {
    margin-left: -60px;
    margin-top: -28px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

@media screen and (max-width: 1000px) {
}
